@font-face {
    font-family: 'Clashdisplay';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/ClashDisplay-Semibold.woff2) format('woff2');
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2fbfa;
}



#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 5rem 0;
}

.heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 6rem;
    
}

.head1{
    font-size: 2.2rem;
    font-weight: 700;
    color: #03dac5;
}

.head2{
    font-size: 6rem;
    font-weight: 800;
    color: #232842;
    font-family: Clashdisplay,sans-serif;
}

.head3{
    font-size: 2rem;
    font-weight: 500;
}

.form_group {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}

.form_item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.required_note{
    color: red;

}

.no_display{
    display: none;
}

.formgroup_dropdown > * {
    width: 50%;
}

.form_item  label {
    font-size: 2rem;
    margin: 1rem;
    margin-left: 0;
}

.form_item  label span {
    color: red;
}

.form_item  input {
    font-size: 1.6rem;
    padding: 1rem;
    font-family: inherit;
    border: none;
    border-bottom: solid 0.2rem #00000049;
    outline: none;
}

.form_item  select{
    font-size: 1.6rem;
    padding: 1rem;
    font-family: inherit;

    border: none;
    border-bottom: solid 0.2rem #00000049;
    outline: none;
}

.submit{
    margin-top: 4.0rem;
    padding: 1rem 2rem;
    background-color: #03dac5;
    border-radius: 0.5px;
    border: none;
    outline: none;
}

